body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.job-card, .job-detail-card {
    background-color: #121212;
    color: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(255, 215, 0, 0.3);
}

.text-info {
    text-transform: uppercase;
}

.btn-primary, .btn-success {
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    border-radius: 50px;
}

.btn-primary:hover, .btn-success:hover {
    transform: scale(1.05);
}